extends contest-layout

block content
    h1  #{contest.title}
    p teacher: #{contest.teacher} 
    p class: #{contest.class}
    p score: #{contest.score}

    p tasks: 

    ul.list-group
        each task, i in contest.tasks
            li.list-group-item
                h3  #{i + 1}. 
                p   task: #{task.name} (#{task.score} pts)
                p   A: #{task.A.desc}
                p   B: #{task.B.desc}
                p   C: #{task.C.desc}
                p   D: #{task.D.desc}
    
