extends layout

block content
    h1  #{title}
    ul 
        each contest, i in contests
            li 
                h3 #{contest.title}
                p teacher: #{contest.teacher} 
                p class: #{contest.class}
                p score: #{contest.score}