doctype html
html
    head
        title WEB-ASSIGNMENT
        link(
            rel='stylesheet'
            href='/bower/bootstrap/dist/css/bootstrap.css'
        )
        link(
            rel='stylesheet'
            href='/custom.css'
        )
    body
html
    body
        .container-fluid.row

            nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
                .sidebar-sticky.pt-3
                    ul.nav.flex-column
                        li.nav-item
                            .nav-link.active(href="#")
                                | WEB-ASSIGNMENT
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href="/")
                                h4 Home
                        hr
                        block page-nav
                    hr
                    if user != undefined
                        p welcome #{user.name}, you are a #{user.type}
                    else 
                        p who you are ?
                        

            
            main.col-md-9.ml-sm-auto.col-lg-10.px-md-4
                br
                h2 #{title}
                p
                    block subtitle
                hr
                br
                block content
                br

        footer
            hr
            p web 期末大作业